@model TravelMK.Models.Hotel

@{
    ViewData["Title"] = "Hotel Details";
}

<h1>@Model.Name_EN / @Model.Name_MK</h1>
<br/>

<div>
    <h3>Hotel Details:</h3>
    
    <h5> Municipality: @Model.Municipality_EN / @Model.Municipality_MK</h5>

    <h5> @Html.ActionLink("Add to Favorites", "AddFavorite", new { id = @Model.Id }) </h5>
</div>
<div style="position: fixed; bottom: 70px;">
    <a asp-action="Index">Back to List</a>
</div>
