@model IEnumerable<Hotel>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

<body>
    <div class="text-center">

    <div id="map" style="height: 350px"></div> <br />

    <table id='hotelsTableEN'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Municipality</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotel in Model) {
                <tr>
                    <td>@Html.ActionLink(hotel.Name_EN, "DetailsHotel", new { id = hotel.Id })</td>
                    <td>@Html.DisplayFor(modelItem => hotel.Municipality_EN)</td>
                    <td>@Html.ActionLink("Add to Favorites", "AddFavorite", new { id = hotel.Id })</td>
                    <td><button class='btn1'>Find route</button></td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts {
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
        <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>        

        <script>
            $(document).ready(function () {
                $('#hotelsTableEN').DataTable();
            });
            
            var map;
            var userLat, userLon;
            
            navigator.geolocation.getCurrentPosition(success, fail, {
                enableHighAccuracy: true
            });

            function success(pos) {
                userLat = pos.coords.latitude;
                userLon = pos.coords.longitude;

                setMap(pos.coords.latitude, pos.coords.longitude);
            }

            function fail() {
                alert("Location error.");
            }

            function setMap(lat, lon) {
                if (map != undefined) {
                    map.remove();
                }
                
                // display the map
                map = L.map('map').setView([lat, lon], 15);
                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: 'pk.eyJ1IjoiaWl2YW5vdjIiLCJhIjoiY2t4YndqbjRyMTJoMjJva3RtMzFpNWRjZiJ9.PWe34SauE3pPKeTU3PZWKg'
                }).addTo(map);
                
                // place a circle to show the user's approximate location
                var circle = L.circle([userLat, userLon], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 15
                }).addTo(map);
                
                // place hotel markers
                @foreach (var h in Model) {
                    <text>
                        var marker = L.marker([@h.Lat, @h.Lon]).addTo(map);
                        marker.bindPopup('@h.Name_EN');
                    </text>
                }
            }

            // find and display a route to the hotel
            $('.btn1').on('click', function () {
                var chosenHotel = this.parentNode.parentNode.childNodes[1].textContent;
                
                @foreach (var hotel in Model) {
                    <text>
                        if ('@hotel.Name_EN' == chosenHotel) {
                            setMap('@hotel.Lat', '@hotel.Lon');
                            L.Routing.control({
                                waypoints: [
                                L.latLng(userLat, userLon),
                                L.latLng('@hotel.Lat', '@hotel.Lon')
                              ]
                            }).addTo(map);
                        }
                    </text>
                }
            });
        </script>
    }
    </div>
</body>