@model List<TravelMK.Models.Hotel>

@{
    ViewData["Title"] = "Favorites";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

<h1>@ViewData["Title"]</h1>

<body>
<h3>Favorite Hotels</h3>

    <table id='favHotelTable'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Municipality</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotel in Model) {
                <tr>
                    <td>@Html.DisplayFor(modelItem => hotel.Name_EN)</td>
                    <td>@Html.DisplayFor(modelItem => hotel.Municipality_EN)</td>
                    <td>@Html.ActionLink("Details", "DetailsHotel", new { id = hotel.Id })</td>
                    <td>@Html.ActionLink("Remove from favorites", "RemoveFavorite", new { id = hotel.Id })</td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts{
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

        <script>
            $(document).ready(function(){
                $('#favHotelTable').DataTable();
            });
        </script>
    }
</body>